<nav class="fixed-bottom bg-dark" style="
    height: 30px;
    padding-top: 5px !important;
    font-size:  13px;
">
    <p style="color:whitesmoke; text-align:center">Catharina Mesquita - Versão - 1.0 - 2018</p>   
</nav>