<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="<%= image_path('logo.png') %>" height="50" width="50" style="padding: 5px" />
  <%= link_to  "DockerViewer", servers_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <% if user_signed_in? %>
    <div class="collapse navbar-collapse float-right" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name%>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to  "Quit", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
          </div>
        </li>
      </ul>
    </div>
        <% end %>
</nav>