<div class="jumbotron">   
    <%= render 'form', container: @container %>
    
    <%= link_to 'Show Container', @container, class:"btn btn-success" %> 
    <%= link_to 'Back', containers_path, class:"btn btn-secondary" %>
</div>
